################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MCA1/MCA1.VC.VC.opendb
/MCA1/ipch/MCA1-a0e2042f/MCA1-55dc1d08.ipch
/MCA1/MCA1/MCA1.vcxproj
/MCA1/MCA1/MCA1.vcxproj.filters
/MCA1/MCA1.VC.db
/MCA1/UpgradeLog.htm
/DSO-VC/VC.vcxproj.filters
/DSO-VC/VC.vcproj.Henry-PC.Henry.user
/DSO-VC/VC.VC.db
/DSO-VC/UpgradeLog.htm
/DSO-VC/test.txt
/DSO-VC/Release
/DSO-VC/ipch
/DSO-VC/Debug
*.opendb
*.exe
*.ilk
*.pdb
*.tlog
*.obj
*.log
*.pch
*.res
*.idb
*.ipch
*.db
*.suo
*.aps
